/*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
.services .icon-box {
    padding: 60px 30px;
    transition: all ease-in-out 0.3s;
    background: #fefefe;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
    border-radius: 18px;
    border-bottom: 5px solid $white;
}

.services .icon-box .icon {
    width: 64px;
    height: 64px;
    background: #009961;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
    color: $white;
}

.services .icon-box .icon i {
    font-size: 28px;
}

.services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

.services .icon-box h4 a {
    color: #282828;
    transition: ease-in-out 0.3s;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .icon-box:hover {
    transform: translateY(-10px);
    border-color: #009961;
}

.services .icon-box:hover h4 a {
    color: #009961;
}

/*--------------------------------------------------------------
  # Cta
  --------------------------------------------------------------*/
.cta {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/cta-bg.jpg") fixed center center;
    background-size: cover;
    padding: 120px 0;
}

.cta h3 {
    color: $white;
    font-size: 28px;
    font-weight: 700;
}

.cta p {
    color: $white;
}

.cta .cta-btn {
    font-family: $font1;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    background: #009961;
    color: $white;
    border-radius: 50px;
}

.cta .cta-btn:hover {
    background: #00b371;
}

@media (max-width: 1024px) {
    .cta {
        background-attachment: scroll;
    }
}

@media (min-width: 769px) {
    .cta .cta-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

/*--------------------------------------------------------------
  # Features
  --------------------------------------------------------------*/
.features .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
}

.features .icon-box i {
    font-size: 48px;
    float: left;
    color: #009961;
}

.features .icon-box p {
    font-size: 15px;
    color: #848484;
    margin-left: 60px;
}

.features .image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

/*--------------------------------------------------------------
  # Clients
  --------------------------------------------------------------*/
.clients {
    padding-top: 30px;
}

.clients .clients-wrap {
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}

.clients .client-logo {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    background: $white;
    height: 140px;
}

.clients .client-logo:hover img {
    transform: scale(1.1);
}

.clients img {
    transition: all 0.4s ease-in-out;
}

/*--------------------------------------------------------------
  # Counts
  --------------------------------------------------------------*/
.counts {
    background: url("../img/counts-bg.jpg") center center no-repeat;
    background-size: cover;
    padding: 80px 0 60px 0;
    position: relative;
}

.counts::before {
    content: "";
    position: absolute;
    background: rgba(17, 17, 17, 0.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.counts .title {
    position: relative;
    color: $white;
    margin-bottom: 40px;
}

.counts .title h3 {
    font-size: 36px;
    font-weight: 700;
}

.counts .counters span {
    font-size: 48px;
    display: block;
    font-weight: 700;
    color: #009961;
}

.counts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: $font1;
    font-size: 14px;
    color: $white;
}

@media (min-width: 1200px) {
    .counts {
        background-attachment: fixed;
    }
}

/*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------*/
.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    background: #f4f4f4;
    border-radius: 50px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: $white;
    background: #009961;
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
}

.portfolio .portfolio-item img {
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -50px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: #009961;
    padding: 15px 20px;
}

.portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: $white;
    font-weight: 600;
}

.portfolio .portfolio-item .portfolio-info p {
    color: $white;
    font-size: 14px;
    margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 50px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: white;
    transition: ease-in-out 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #33ffb4;
}

.portfolio .portfolio-item .portfolio-info .details-link {
    right: 15px;
}

.portfolio .portfolio-item:hover img {
    top: -30px;
}

.portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
}

/*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: $white;
    opacity: 1;
    border: 1px solid #009961;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #009961;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(40, 40, 40, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}

/*--------------------------------------------------------------
  # Pricing
  --------------------------------------------------------------*/
.pricing {
    background-color: #f9f9f9;
}

.pricing .box {
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background: #fefefe;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
}

.pricing .box h3 {
    font-weight: 400;
    padding: 15px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #282828;
}

.pricing .box h4 {
    font-size: 42px;
    color: #009961;
    font-weight: 500;
    font-family: $font2;
    margin-bottom: 20px;
}

.pricing .box h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

.pricing .box h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}

.pricing .box ul {
    padding: 20px 0;
    list-style: none;
    color: #282828;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.pricing .box ul li {
    padding-bottom: 16px;
}

.pricing .box ul i {
    color: #009961;
    font-size: 18px;
    padding-right: 4px;
}

.pricing .box ul .na {
    color: #ccc;
    text-decoration: line-through;
}

.pricing .box .btn-wrap {
    padding: 15px;
    text-align: center;
}

.pricing .box .btn-buy {
    display: inline-block;
    padding: 10px 40px 12px 40px;
    border-radius: 50px;
    border: 2px solid #009961;
    color: #009961;
    font-size: 14px;
    font-weight: 400;
    font-family: $font1;
    font-weight: 600;
    transition: 0.3s;
}

.pricing .box .btn-buy:hover {
    background: #009961;
    color: $white;
}

.pricing .recommended {
    border-color: #009961;
}

.pricing .recommended .btn-buy {
    background: #009961;
    color: $white;
}

.pricing .recommended .btn-buy:hover {
    background: #00b371;
    border-color: #00b371;
}

.pricing .recommended-badge {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 13px;
    padding: 3px 25px 6px 25px;
    background: #edfbf0;
    color: #009961;
    border-radius: 50px;
}

/*--------------------------------------------------------------
  # Faq
  --------------------------------------------------------------*/
.faq {
    padding: 0;
}

.faq .content {
    padding: 60px 100px 0 100px;
}

.faq .content h3 {
    font-weight: 400;
    font-size: 34px;
}

.faq .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.faq .content p {
    font-size: 15px;
    color: #848484;
}

.faq .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
}

.faq .accordion-list {
    padding: 0 100px 60px 100px;
}

.faq .accordion-list ul {
    padding: 0;
    list-style: none;
}

.faq .accordion-list li+li {
    margin-top: 15px;
}

.faq .accordion-list li {
    padding: 20px;
    background: #fefefe;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
    border-radius: 4px;
}

.faq .accordion-list a {
    display: block;
    position: relative;
    font-family: $font3;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
}

.faq .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.faq .accordion-list .icon-show {
    display: none;
}

.faq .accordion-list a.collapsed {
    color: #343a40;
}

.faq .accordion-list a.collapsed:hover {
    color: #009961;
}

.faq .accordion-list a.collapsed .icon-show {
    display: inline-block;
}

.faq .accordion-list a.collapsed .icon-close {
    display: none;
}

@media (max-width: 1024px) {

    .faq .content,
    .faq .accordion-list {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    .faq {
        /* img {
        padding-top: 30px;
      } */
    }

    .faq .content {
        padding-top: 30px;
    }

    .faq .accordion-list {
        padding-bottom: 30px;
    }
}

/*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
.contact .info {
    width: 100%;
    background: $white;
}

.contact .info i {
    font-size: 32px;
    color: #009961;
    float: left;
    line-height: 1;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #282828;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #5b5b5b;
}

.contact .info .email,
.contact .info .phone {
    margin-top: 40px;
}

.contact .php-email-form {
    width: 100%;
    background: $white;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: $white;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: $white;
    background: #18d26e;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .sent-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .loading {
    display: none;
    background: $white;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #009961;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
    background: #009961;
    border: 0;
    padding: 10px 30px;
    color: $white;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #00b371;
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/